<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlaylistAPISuite" verbose="2">
  <test name="PlaylistAPICRUDTest">
    <classes>
      <class name="com.spotify.oauth2.test.PlaylistAPITests"/>
    </classes>
  </test> <!-- PlaylistAPICRUDTest -->
</suite> <!-- PlaylistAPISuite -->
